*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: sans-serif;
}

.profile{
    width: 40%;
    float: right;
}
.profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-bottom: 5px solid gray;
}
.about{
    margin-left: 15px;
}
.profile-info{
    width: 60%;
    height: 100vh;
    float: left;
    padding: 0 30px;
    overflow: scroll;
    overflow-x: hidden;
}
.profile-info::-webkit-scrollbar{
    width: 0%;
}

.profile-info h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
.social{
    margin-top: 20px;
    margin-left: 15px;
}
.social img{
    width: 25px;
    margin-right: 15px;
    cursor: pointer;
    transition: 2s;
}
.social img:hover{
    transform: rotate(360deg);
}
.profile-info h2{
    margin-top: 50px;
    margin-bottom: 15px;
}
.sevices {
    display: inline-block;
    width: 28%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 15px rgba(37,73,214,0.18);
}
.sevices img{
    width: 60%;
    margin: 5px;
}
.sevices small{
    padding-top: 15px;
    display: block;
}
.projects img{
    width: 31%;
    padding: 4px;
    margin-bottom: 5px;
    margin-left: 3px;
    border: 1px solid gray;
    cursor: pointer;
}
.form-box{
    margin-top: 30px;
}

.input-group input{
    width: 45%;
    border: 0;
    outline: none !important;
    padding: 10px;
    background-color: rgba(192, 192, 192, 0.444);
    margin: 2%;
    display: inline-block;
}
.text-area textarea{
    border: 0;
    width: 95%;
    outline: none !important;
    padding: 10px;
    margin: 2%;
    background-color: rgba(192, 192, 192, 0.444);
}
.sub{
    border: 0;
    outline: none !important;
    padding: 10px;
    margin: 2%;
    background-color: rgb(48, 139, 192);
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.cont{
    margin: 5% 0 5% 25%;
    width: 65%;
}
.cont img{
    width: 20px;
    margin: -5px 10px;
}
.cont span{
    margin: 3%;
}
.copy-right{
    text-align: center;
    margin-bottom: 30px;
    color: gray;
    background-color: lightblue;
}

@media only screen and (max-width:900px){
    .profile-info{
        width: 95%;
    }
    .profile{
        width: 95%;
    }
    .profile img{
        width: 90%;
    }
    .sevices{
        width: 95%;
        margin-bottom: 15px;
    }
    .cont span{
        font-size: 10px;
    }
    .cont img{
        width: 12px;
    }
}


